* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 36px;
  margin-left: 120px;
  margin-bottom: 36px;
}

.col1 {
  margin-left: 60px;
  width: 25%;
}

#refresh {
  width: 100px;
  height: 20px;
  margin-top: 6px;
}

.row1 {
  display: flex;
  gap: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.col2 {
  margin-right: 240px;
  width: 22.2%;
  margin-left: 60px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  width: 300px;
}

#submit {
  width: 100px;
  margin-left: 205px;
}

.scoresCont {
  width: 100%;
  min-height: 30px;
  margin-bottom: 48px;
  border: 1px solid black;
}

.newScore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  width: 98%;
  margin-left: 0;
  padding-left: 6px;
}

.newScore:nth-child(odd) {
  background-color: #f2f2f2;
}

.border {
  min-height: 2px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid black;
}
